body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e0d5d5;
  color: #333;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #333;
  color: #e0d5d5;
  text-align: center;
  padding: 10px 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #e0d5d5;
  font-weight: bold;
}

main {
  background-color: #e0d5d5;
  padding: 20px;
}

footer {
  background-color: #333;
  color: #e0d5d5;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}


a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul li.spacer {
  flex-grow: 1
}