{% extends 'base.html' %}
{% block content %}
<h2>To-Do List</h2>
<ul>
    {% for todo in todos %}
        <li>
            {{ todo.title }}
            <a href="{% url 'todo:todo_edit' todo.id %}">Edit</a>
            {% comment %} <a href="{% url 'todo:view_todo' todo.id %}">View</a> {% endcomment %}
            {% if todo.due_date %}
                (Due: {{ todo.due_date|date:"F d, Y" }})
            {% endif %}
            <br>
            {% if todo.description %}
                Description: {{ todo.description }}
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}
