<!DOCTYPE html>
{% load static %}
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>{% block title %}To-Do App{% endblock title %}</title>
    <link rel='stylesheet' href="{% static "css/base_style.css" %}">"
    <style>

    </style>
</head>
<body>
    <header>
        <h1>To-Do App</h1>
        <nav>
            <ul>
                <li><a href="/home/">Home</a></li>
                <li><a href="/list/">To-Do List</a></li>
                <li><a href="/create/">Create To-Do</a></li>
                <li class="spacer"></li>
                {% if user.is_authenticated %}
                    {% if user.is_superuser or user.is_staff %}
                        <li><a href="{% url "admin:index" %}">Admin</a></li>
                    {% endif %}
                    {% comment %} <li><a href="{% url "profile" %}">{{ user.username }}</a></li> {% endcomment %}
                    <li><a href="{% url "logout" %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url "login" %}">Login</a></li>
                    {% comment %} <li><a href="{% url "signup" %}"></a></li> {% endcomment %}
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>
        &copy; 2023 To-Do App
    </footer>
</body>
</html>
