<!DOCTYPE html>
{% load static %}
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>{% block title %}To-Do App{% endblock title %}</title>
    <link rel='stylesheet' href="{% static "css/base_style.css" %}">"
    <style>

    </style>
</head>
<body>
    <header>
        <h1>To-Do App</h1>
        <nav>
            <ul>
                <li><a href="/list/">To-Do List</a></li>
                <li><a href="/create/">Create To-Do</a></li>
                <li><a href="/todo_detail/">To-Do detail</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>
        &copy; 2023 To-Do App
    </footer>
</body>
</html>
